html {

  background-color:#313a41;
  font-family: 'lucida console',monospace;
  padding: 40px  40px;
}


span {margin: 0 10px;}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 500px 1fr 1fr 1fr 1fr 500px;
  grid-gap:20px;
  background-color: #313a41;
 
  border-radius: 30px;
  grid-template: 
                  
                 
                 "aside3 aside3 aside3"
                 "aside2 aside2 aside2"
                 "aside1 aside1 aside1"       
                 "main1 main1 card"
                 " main1 main1 card"
                 "main2 main2 main2"
                 "main3 main3 main3";
  }



  #aside-1 { grid-area: aside1; background-color:#203145; color:white; height:540px;text-align: center;border-radius: 25px;}

  #aside-2 {grid-area: aside2; background-color:#203145; color:white;height:540px;text-align:center;border-radius: 25px;}
  
  #aside-3 { grid-area: aside3; background-color:#203145; color:white;;height:540px;text-align:center;border-radius: 25px;}
  
 

  #main1 {grid-area: main1; display: inline-block;  background-color:#203145; color:white; height:270px; text-align: center; font-size:18px;border-radius: 25px; }

  #main2 {grid-area: main2;  background-color:#203145; color:white;height:350px; text-align: center; font-size:18px; border-radius: 25px;}

  #main3 {grid-area: main3;  background-color:#203145; color:white; height:350px; text-align: center; font-size:18px; border-radius: 25px;}

  #card {

    grid-area: card; background-color:#203145; color:white;
    border-radius: 25px;
    text-align: center;
    font-size:18px;
    height:270px;

    
  }


  #map {
    height: 210px;
    width:800px;
  }
  /* Optional: Makes the sample page fill the window. */




#title {

  text-transform: uppercase;
  font-family: 'lucida console',monospace;
  font-weight: bold;
  background-color:#383838;
  color:white;
  
  border-radius: 25px;

}



@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: black;
    color: green;
    height: 100px;
    font-size:30px;
    border: 10px grey;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 60s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    margin-top:10px;
    display: inline-block;
    margin-right:5px;
  }



 .main-1 {
    height:300px;
    width:450px;
    display:inline-block;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 50px 50px;
    background-color:white;
    
    
 }



 .main-2 {
  height:200px;
  width:450px;
  display:inline-block;
  box-shadow: 5px 5px 5px 5px grey;
  padding: 50px 50px;
  background-color:white;
 }
  
  


  .display {

    font-family: Arial, Helvetica, sans-serif;


  }
  


  footer {
    background-color:#313a41; height: 70px;text-align: center;
  }

  .navbar {
    background-color:#313a41;
    height:70px;
  }


  .subnav {
    float: left;
    overflow: hidden;
    height:50px;
    background-color:#313a41;
    color:white;
  }

  .subnav p {
    color:white;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
    background-color:#313a41;
    
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #444;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:#383838;
    width: 100%;
    z-index: 1;
    
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float:left;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding:5px;
    margin: 10px;

  }
  .subnav-content span {
    margin: 0 10px;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }






  .FixedHeightContainer
{
  
  height: auto;
  width:auto; 
  padding:3px; 
    
}
.Content
{
  height:500px;
   overflow:auto;
    
}